body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
  background-color: #dfd2d2;
  color: #f8fafc;
  margin: 0;
}
h1, h2 { color: #ea3030; text-align: center; }
.login-container, .page-container {
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  height: 100vh; padding: 16px;
}
.card {
  background: #bd6b6b; padding: 20px; margin: 10px; border-radius: 16px; width: 320px; text-align: center;
  transition: 0.2s; box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.card:hover { background: #ff2121b5; cursor: pointer; }
input { display: block; margin: 10px auto; padding: 12px; border: none; border-radius: 8px; width: 85%; }
button { background-color: #ff2c2c; border: none; padding: 12px 20px; border-radius: 8px; color: #fff; cursor: pointer; font-weight: bold; width: 85%; }
.list { display: flex; flex-direction: column; align-items: center; }
